@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&family=Tomorrow:wght@100;200;300;400;500;600;700&display=swap");
/* 
font-family: 'Titillium Web', sans-serif;
font-family: 'Tomorrow', sans-serif;
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

html {
	font-size: 16px;
}

/* @media screen and (max-width: 1100px) {
	html {
		font-size: 15px;
	}
} */

@media screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

body {
	width: 100vw;
	height: 100%;
}

html,
body {
	overflow-x: hidden;
}

ul {
	list-style: none;
}

button {
	transition: 0.3s;
	cursor: pointer;
}

#preloader {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	padding: 2rem 0;
	background: url(./assets/artist-bg.jpg);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#preloader > h2 {
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-family: "Tomorrow", sans-serif;
	font-weight: 400;
	font-size: 4rem;
	color: rgba(255, 255, 255, 0.7);
	opacity: 0;
}

#preloader > h2 > span {
	font-family: "Tomorrow", sans-serif;
}

@media screen and (max-width: 440px) {
	#preloader > h2 {
		font-size: 3rem;
	}
}

#preloader > div {
	display: flex;
	width: 90%;
	max-width: 640px;
	margin: auto;
	align-items: center;
	transform: translateY(100%);
	opacity: 0;
}

#preloader > div > p {
	font-family: "Tomorrow", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 36px;
}

#preloader > div > p:last-child {
	text-align: right;
}

#preloader > div > img {
	margin: 0 0.5rem;
}

#preloader > p {
	font-family: "Tomorrow", sans-serif;
	font-size: 1.5rem;
	letter-spacing: 1.5rem;
	position: relative;
	transform: translateY(100%);
	opacity: 0;
}

#preloader > p::after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 0.3) 56.25%,
		rgba(0, 0, 0, 1) 90%
	);
	width: 100%;
	height: 1.5em;
}

@media screen and (max-width: 1240px) {
	#preloader > p {
		letter-spacing: 1rem;
	}
}

@media screen and (max-width: 992px) {
	#preloader > p {
		letter-spacing: 0.75rem;
	}
}

@media screen and (max-width: 860px) {
	#preloader > p {
		letter-spacing: 8px;
	}
}

@media screen and (max-width: 767px) {
	#preloader > p {
		letter-spacing: 4px;
	}
}

@media screen and (max-width: 670px) {
	#preloader > div > p {
		font-family: "Tomorrow", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	#preloader > div > p > span {
		font-size: 24px;
	}
}

@media screen and (max-width: 540px) {
	#preloader > p {
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 480px) {
	#preloader > div > p {
		font-family: "Tomorrow", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	#preloader > div > p > span {
		font-size: 24px;
	}

	#preloader > div > img {
		width: 100px;
		height: auto;
	}
}

@media screen and (max-width: 410px) {
	#preloader > p {
		font-size: 12px;
		letter-spacing: 2px;
	}

	#preloader > p::after {
		height: 12px;
	}
}

@media screen and (max-width: 400px) {
	#preloader > div > p {
		font-family: "Tomorrow", sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
	}

	#preloader > div > p > span {
		font-size: 24px;
	}

	#preloader > div > img {
		width: 84px;
		height: auto;
	}
}

header {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 10, 5, 0.8);
	position: relative;
}

header::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(./assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

@media screen and (max-height: 780px) {
	header,
	header::before {
		min-height: 880px;
		height: 880px;
	}
}

header nav {
	width: 90%;
	height: 10%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#nav-logo {
	width: 42.34px;
	height: 50px;
}

header nav ul.wide {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 4px;
	border: solid 4px transparent;
}

header nav ul.wide li {
	padding: 16px;
	font-size: 1rem;
	letter-spacing: 1px;
	cursor: pointer;
	color: #fff;
}

header nav button.wide {
	font-size: 1rem;
	letter-spacing: 1px;
	padding: 16px 48px;
	background: #00a352;
	border: 4px dashed #00cc66;
	color: #fff;
}

header .mobile-menu,
header .mobile-navIcon,
header .moblie-menu li,
header .mobile-menuClose {
	display: none;
}

@media screen and (max-width: 991px) {
	header nav ul.wide,
	header nav button.wide {
		display: none;
	}

	header .mobile-navIcon {
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.32);
		border: none;
	}

	header nav {
		padding-top: 2rem;
	}

	header .mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100vw;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		background: black;
		z-index: 10;
		transform: translateX(100%);
		transition: 0.5s;
	}

	header .active-menu {
		transform: translateX(0);
	}

	header .mobile-menu li {
		color: white;
		font-size: 2rem;
		margin-bottom: 3rem;
		position: relative;
		cursor: pointer;
	}

	header .mobile-menu li:after {
		content: "";
		position: absolute;
		display: block;
		border-bottom: solid 4px #00cc66;
		width: 10%;
		transition: 0.3s;
	}

	header .mobile-menu li:hover::after {
		width: 90%;
	}

	header .mobile-menu li:last-child::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-bottom: none;
		width: 0%;
	}

	header .mobile-menu li button {
		font-size: 1.5rem;
		letter-spacing: 1px;
		padding: 16px 48px;
		background: #00a352;
		border: 4px dashed #00cc66;
		color: #fff;
	}

	header .mobile-menuClose {
		display: block;
		fill: #fff;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 2rem;
		right: 5%;
		padding: 10px;
		background: rgba(255, 255, 255, 0.32);
		border-radius: 50%;
	}
}

@media screen and (max-width: 440px) {
	header .mobile-menu li {
		color: white;
		font-size: 1.5rem;
		margin-bottom: 3rem;
		position: relative;
		cursor: pointer;
	}

	header .mobile-menu li button {
		font-size: 1rem;
		letter-spacing: 1px;
		padding: 16px 48px;
		background: #00a352;
		border: 4px dashed #00cc66;
		color: #fff;
	}
}

header section {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	margin-top: clamp(5%, 7.5rem, 80px);
}

header .right-circle,
header .left-circle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px dashed rgba(255, 255, 255, 0.4);
	position: relative;
	margin-left: 35px;
}

header .right-circle::after,
header .left-circle::after {
	position: absolute;
	top: -39px;
	left: -39px;
	content: "";
	width: 154px;
	height: 154px;
	border-radius: 50%;
	border: 3px dashed rgba(255, 255, 255, 0.4);
	animation: rotate infinite 3s ease-in-out;
	animation-play-state: paused;
}

header .left-circle:hover::after,
header .right-circle:hover::after {
	animation-play-state: running;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

header .left-circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-family: "Tomorrow", sans-serif;
	font-weight: 600;
	margin-bottom: 2rem;
}

header .right-circle {
	transform: translate(80%, 50%);
}

header .left-circle,
header .right-circle {
	transform: translateX(-100%);
	opacity: 0;
}

.circle-text {
	font-size: 1rem;
}

@media screen and (max-width: 1300px) {
	header section {
		width: 90%;
		height: 90%;
		margin: 0 auto;
		margin-top: clamp(4%, 3rem, 50px);
	}
}

@media screen and (max-width: 600px) {
	header section {
		width: 90%;
		height: 90%;
		margin: 0 auto;
		margin-top: clamp(4%, 3rem, 40px);
	}

	header .right-circle,
	header .left-circle {
		width: 62px;
		height: 62px;
		margin-left: 31.5px;
	}

	header .right-circle::after,
	header .left-circle::after {
		top: -31.5px;
		left: -31.5px;
		width: 115px;
		height: 115px;
	}

	.circle-text {
		font-size: 11px;
	}

	header .left-circle {
		margin-bottom: calc(4rem + 31.5px);
	}
}

header .main-header {
	font-family: "Tomorrow", sans-serif;
	font-weight: 600;
	font-size: 5.5rem;
	color: #fff;
	transform: translateY(100%);
	opacity: 0;
}

header .main-desc {
	margin: 1.5rem 0;
	font-size: 1rem;
	letter-spacing: 1px;
	color: #fff;
	transform: translateY(100%);
	opacity: 0;
}

/* for responsive text */
header .mobile-desc {
	width: 100%;
	display: none;
}

@media screen and (max-width: 1300px) {
	header .main-header {
		font-family: "Tomorrow", sans-serif;
		font-weight: 600;
		font-size: 4.5rem;
		color: #fff;
	}
}

@media screen and (max-width: 992px) {
	header .main-header {
		font-family: "Tomorrow", sans-serif;
		font-weight: 600;
		font-size: 3.5rem;
		color: #fff;
	}
}

@media screen and (max-width: 767px) {
	header .main-header {
		font-family: "Tomorrow", sans-serif;
		font-weight: 600;
		font-size: 2.5rem;
		color: #fff;
	}
}

@media screen and (max-width: 600px) {
	header .main-desc {
		display: none;
	}

	/* for responsive text */
	header .mobile-desc {
		width: 100%;
		display: block;
		margin: 1.5rem 0 3.5rem;
		font-size: 1.5rem;
		letter-spacing: initial;
	}
}

@media screen and (max-width: 450px) {
	header .mobile-desc {
		width: 100%;
		display: block;
		margin: 1.5rem 0 3.5rem;
		font-size: 1.2rem;
		letter-spacing: initial;
	}
}

@media screen and (max-width: 300px) {
	header .main-header {
		font-family: "Tomorrow", sans-serif;
		font-weight: 600;
		font-size: 2rem;
		color: #fff;
	}

	header .mobile-desc {
		width: 100%;
		display: block;
		margin: 1.5rem 0 3.5rem;
		font-size: 1rem;
		letter-spacing: initial;
	}
}

header .header-stats {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 3.5rem;
	transform: translateY(100%);
	opacity: 0;
}

header .header-stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header .header-stats li:nth-child(2) {
	margin: 0 25px;
}

header .header-stats h2 {
	font-size: 2rem;
	letter-spacing: 9px;
	font-family: "Tomorrow", sans-serif;
	margin-bottom: 1rem;
	color: transparent;
	-webkit-text-stroke-width: 1.8px;
	-webkit-text-stroke-color: white;
}

header .header-stats p {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}

header .explore-animation {
	position: absolute;
	bottom: 3.5rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, 100%);
	opacity: 0;
}

header .explore-animation img {
	margin-bottom: 2.4rem;
	width: 33.87px;
	height: 40px;
	animation: bounce infinite 2s ease-in-out;
}

@keyframes bounce {
	from,
	to {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}
}

header .explore-animation p {
	font-size: 1rem;
	letter-spacing: 2rem;
	text-transform: uppercase;
	color: #fff;
}

header .quote-swap {
	position: absolute;
	right: 70px;
	bottom: 3.5rem;
	display: flex;
	flex-direction: column;
	transform: translateY(100%);
	opacity: 0;
}

header .quote-swap .quote-box {
	text-align: center;
	width: 250px;
	padding: 8px 5px;
	letter-spacing: 1px;
	color: #ffffff;
	border: dashed 3px rgba(255, 255, 255, 0.4);
}

header .quote-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}

header .quote-controls button {
	background: transparent;
	border: dashed 3px rgba(255, 255, 255, 0.4);
	padding: 5px 15px;
}

@media screen and (max-width: 1300px) {
	header .header-stats {
		display: flex;
		align-items: center;
		position: relative;
		bottom: 0;
	}

	header .explore-animation {
		bottom: 0.5rem;
	}

	header .explore-animation img {
		margin-bottom: 1.5rem;
	}

	header .quote-swap {
		bottom: 0.5rem;
	}
}

@media screen and (max-width: 1100px) {
	header .quote-swap {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	header .header-stats h2 {
		letter-spacing: 4.5px;
	}
}

@media screen and (max-width: 400px) {
	header .header-stats h2 {
		font-size: 1.5rem;
		font-family: "Tomorrow", sans-serif;
		margin-bottom: 1rem;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
	}
}

@media screen and (max-width: 350px) {
	header .header-stats h2 {
		font-size: 1.3rem;
		font-family: "Tomorrow", sans-serif;
		margin-bottom: 1rem;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
	}
}

@media screen and (max-width: 320px) {
	header .header-stats h2 {
		font-size: 1.1rem;
		font-family: "Tomorrow", sans-serif;
		margin-bottom: 1rem;
		color: #fff;
		-webkit-text-stroke-width: 0px;
		-webkit-text-stroke-color: white;
	}

	header .header-stats p {
		font-size: 0.9rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: white;
	}
}

/* styles for page description linked images */
.linked-img {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed;
	position: relative;
}

.linked-img > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 8px;
}

.linked-img img {
	width: 24px;
	height: auto;
}

#l1 {
	border-color: #333333;
	background: #f7f7f7;
}

#l1 > div {
	background-color: #333333;
	z-index: 2;
}

#l2 {
	border-color: #dc47cd;
	background: #fdf2fc;
}

#l2 > div {
	background-color: #dc47cd;
}

#l3 {
	border-color: #fa7d09;
	background: #fff7f0;
}

#l3 > div {
	background-color: #fa7d09;
}

/* styles for page description section */
.page-desc {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4rem;
}

.page-desc .desc1 {
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.page-desc .desc1 h2 {
	font-size: 2rem;
	line-height: 2.3rem;
	font-family: "Tomorrow", sans-serif;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 1px;
}

.page-desc .desc1 span {
	font-family: "Tomorrow", sans-serif;
	color: #00a352;
	text-transform: capitalize;
	font-weight: 600;
}

.page-desc .desc1 p {
	margin-top: 1rem;
	font-size: 1rem;
	letter-spacing: 0.6px;
}

.page-desc .desc1 .mobile-desc {
	display: none;
}

.page-desc .desc2 {
	width: 42%;
	display: flex;
	margin-top: 2rem;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.page-desc .desc2 .img-with-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-desc .desc2 .img-with-text .linked-img {
	margin-right: 0.5rem;
}

.page-desc .desc2 .img-with-text .text {
	width: 90%;
	display: flex;
	flex-direction: column;
}

.page-desc .desc2 .text h2 {
	font-size: 1.125rem;
}

.page-desc .desc2 .text p {
	font-size: 0.875rem;
	color: #666666;
}

.desc2 .img-with-text#box1 {
	margin-bottom: 4rem;
}

.desc2 #l1 {
	position: absolute;
	top: 50%;
	left: -75px;
	transform: translateY(-50%);
}

.desc2 .connector-straight {
	position: absolute;
	bottom: -89px;
}

.desc2 .connector-c {
	position: absolute;
	left: 50%;
	top: -43px;
}

@media screen and (max-width: 992px) {
	.page-desc {
		flex-direction: column;
		align-items: flex-start;
	}

	.page-desc .desc2 {
		align-self: flex-end;
		margin-top: 5rem;
	}

	.page-desc .desc1,
	.page-desc .desc2 {
		width: 75%;
	}
}

@media screen and (max-width: 767px) {
	.page-desc {
		align-items: center;
	}

	.page-desc .desc1 {
		width: 100%;
	}

	.page-desc .desc2 {
		width: calc(100% - 75px);
	}
}

@media screen and (max-width: 360px) {
	.page-desc .desc2 .text p {
		font-size: 0;
	}

	.page-desc .desc2 .text p:after {
		display: block;
		content: "The works of your hands are the inspirations that the world";
		font-size: 0.875rem;
		color: #666666;
	}
}

/* NFT showcase carousel */
.nft-showcase {
	width: 100%;
	height: 100%;
	padding: 8rem 0;
	margin: 2rem 0;
	display: flex;
	align-items: center;
}

.nft-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 488px;
	margin: 0 25.5px;
	transform-style: preserve-3d;
}

.nft-item:last-child {
	margin-right: 0;
}

.nft-image {
	width: 100%;
	aspect-ratio: 488 / 668;
	/* height: 668px; */
	height: auto;
	background: red;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 1rem;
	border-radius: 16px;
	position: relative;
}

#nft1 {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft1.png") no-repeat;
	background-size: cover;
}

#nft2 {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft2.png") no-repeat;
	background-size: cover;
}

#nft3 {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft3.png") no-repeat;
	background-size: cover;
}

#nft4 {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft4.png") no-repeat;
	background-size: cover;
}

#nft1::before {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft1.png");
	filter: blur(20px);
	z-index: -1;
}

#nft2::before {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft2.png");
	filter: blur(20px);
	z-index: -1;
}

#nft3::before {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft3.png");
	filter: blur(20px);
	z-index: -1;
}

#nft4::before {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.12%, #000000 100%),
		url("./assets/nft4.png");
	z-index: -1;
	filter: blur(20px);
}

.nft-image div {
	width: 100%;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nft-image div p {
	display: flex;
	align-items: center;
	color: #fff;
}

.nft-image div p img {
	width: 24px;
	height: 24px;
	margin-right: 0.5rem;
}

.nft-image div p:last-child {
	font-size: 1.125rem;
	padding: 0.5rem;
	border: 3px dashed rgba(255, 255, 255, 0.24);
	border-radius: 1.5rem;
}

@media screen and (max-width: 319px) {
	.nft-image div p:last-child {
		font-size: 1.125rem;
		padding: 0.5rem;
		border: 3px dashed rgba(255, 255, 255, 0.24);
		border-radius: 1.5rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: black;
	}
}

.nft-item > h3 {
	font-size: 1rem;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.6px;
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.nft-item > p {
	letter-spacing: 0.6px;
	font-size: 1rem;
	color: #616161;
	margin-bottom: 0.5rem;
	height: 80px;
}

.nft-item > button {
	width: 100%;
	padding: 40px 0;
	color: #fff;
	font-family: "Tomorrow", sans-serif;
	background: #00a352;
	border: 4px dashed #00cc66;
	box-shadow: -8px 14px 10px rgba(0, 204, 102, 0.32);
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

@media screen and (max-width: 767px) {
	.nft-item > button {
		padding: 20px 0;
	}
}

/* .glider-persp .glider-slide.left-1 {
	-webkit-transform: perspective(3000px) rotateY(34deg) translateZ(0);
	-webkit-transform-origin: 100% 50% 0;
	transform: perspective(3000px) rotateY(34deg) translateZ(0);
	transform-origin: 100% 50% 0;
}

.glider-persp .glider-slide.right-2 {
	-webkit-transform: perspective(3000px) rotateY(-34deg) translateZ(0);
	-webkit-transform-origin: 0 50% 0;
	transform: perspective(3000px) rotateY(-34deg) translateZ(0);
	transform-origin: 0 50% 0;
}

.glider-persp .glider-slide.right-2 {
	-webkit-transform: perspective(0) rotateY(0) translateZ(0);
	-webkit-transform-origin: 0 0% 0;
	transform: perspective(0px) rotateY(0) translateZ(0);
	transform-origin: 0 0% 0;
}

@media screen and (min-width: 440px) {
	.glider-persp .glider-slide.left-1 {
		-webkit-transform: perspective(3000px) rotateY(34deg) translateZ(0);
		-webkit-transform-origin: 100% 50% 0;
		transform: perspective(3000px) rotateY(34deg) translateZ(0);
		transform-origin: 100% 50% 0;
	}

	.glider-persp .glider-slide.right-2 {
		-webkit-transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		-webkit-transform-origin: 0 50% 0;
		transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		transform-origin: 0 50% 0;
	}

	.glider-persp .glider-slide.right-2 {
		-webkit-transform: perspective(0) rotateY(0) translateZ(0);
		-webkit-transform-origin: 0 0% 0;
		transform: perspective(0px) rotateY(0) translateZ(0);
		transform-origin: 0 0% 0;
	}
}
@media screen and (min-width: 768px), (max-width: 767px) {
	.glider-persp .glider-slide.left-1,
	.glider-persp .glider-slide.right-1,
	.glider-persp .glider-slide.right-2 {
		-webkit-transform: perspective(0) rotateY(0) translateZ(0);
		-webkit-transform-origin: 0 0% 0;
		transform: perspective(0px) rotateY(0) translateZ(0);
		transform-origin: 0 0% 0;
	}
}
@media screen and (min-width: 1200px) {
	.glider-persp .glider-slide.left-1 {
		-webkit-transform: perspective(3000px) rotateY(34deg) translateZ(0);
		-webkit-transform-origin: 100% 50% 0;
		transform: perspective(3000px) rotateY(34deg) translateZ(0);
		transform-origin: 100% 50% 0;
	}

	.glider-persp .glider-slide.right-1 {
		-webkit-transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		-webkit-transform-origin: 0 50% 0;
		transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		transform-origin: 0 50% 0;
	}

	.glider-persp .glider-slide.right-2 {
		-webkit-transform: perspective(0) rotateY(0) translateZ(0);
		-webkit-transform-origin: 0 0% 0;
		transform: perspective(0px) rotateY(0) translateZ(0);
		transform-origin: 0 0% 0;
	}
}

@media screen and (min-width: 1600px) {
	.glider-persp .glider-slide.left-2 {
		-webkit-transform: perspective(3000px) rotateY(34deg) translateZ(0);
		-webkit-transform-origin: 100% 50% 0;
		transform: perspective(3000px) rotateY(34deg) translateZ(0);
		transform-origin: 100% 50% 0;
	}

	.glider-persp .glider-slide.right-1 {
		-webkit-transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		-webkit-transform-origin: 0 50% 0;
		transform: perspective(3000px) rotateY(-34deg) translateZ(0);
		transform-origin: 0 50% 0;
	}

	.glider-persp .glider-slide.left-1 {
		-webkit-transform: perspective(0) rotateY(0) translateZ(0);
		-webkit-transform-origin: 0 0% 0;
		transform: perspective(0px) rotateY(0) translateZ(0);
		transform-origin: 0 0% 0;
	}
} */

/* Artist showcase */

/* .artist-showcase::before {
	width: 100vw;
	height: auto;
	content: "";
	background-size: cover;
} */
.artist-showcase {
	width: 100%;
	height: 100%;
	background: rgba(0, 10, 5, 0.8);
	background: url("./assets/artist-bg.jpg");
	color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 7rem;
	padding-bottom: 2rem;
}

.artist-showcase .artist-header-animation {
	margin: auto;
	position: relative;
}

.artist-showcase > .eye-animation {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: solid 2px rgba(0, 10, 5, 0.8);
	background-color: #fff;
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	right: 55px;
}

.artist-showcase .main-header {
	font-size: 7.5rem;
	font-family: "Tomorrow", sans-serif;
	letter-spacing: 40px;
	position: relative;
	color: rgba(255, 255, 255, 0.16);
}

.artist-showcase .main-header::after {
	font-size: 3.5rem;
	letter-spacing: 1px;
	content: "AREOUS";
	color: #fff;
	font-family: "Tomorrow", sans-serif;
	position: absolute;
	bottom: 0;
	right: calc(1rem + 40px);
}

.artist-showcase .main-shadow {
	font-family: "Tomorrow", sans-serif;
	font-size: 7.5rem;
	letter-spacing: 40px;

	color: rgba(255, 255, 255, 0.08);
	bottom: 45px;
	position: absolute;
}

.artist-showcase .main-shadow::after {
	font-size: 7.5rem;
	content: "AREOUS";
	letter-spacing: 40px;
	color: rgba(255, 255, 255, 0.04);
	font-family: "Tomorrow", sans-serif;
	position: absolute;
	left: 0;
	bottom: 45px;
}

@media screen and (max-width: 767px) {
	.artist-showcase .main-header {
		font-size: 2rem;
		font-family: "Tomorrow", sans-serif;
		letter-spacing: 40px;
		position: relative;
		color: rgba(255, 255, 255, 0.16);
	}

	.artist-showcase .main-header::after {
		font-size: 2rem;
		font-weight: 600;
		right: 1rem;
	}

	.artist-showcase .main-shadow {
		font-size: 32px;
		letter-spacing: 40px;
		bottom: 30px;
	}

	.artist-showcase .main-shadow::after {
		font-size: 32px;
		letter-spacing: 40px;
		bottom: 30px;
	}
}

@media screen and (max-width: 440px) {
	.artist-showcase .main-header {
		letter-spacing: 10px;
	}

	.artist-showcase .main-header::after {
		right: 0rem;
	}

	.artist-showcase .main-shadow {
		letter-spacing: 10px;
	}

	.artist-showcase .main-shadow::after {
		letter-spacing: 10px;
	}
}

.artist-showcase .artist-section {
	margin: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px auto 150px;
}

.artist-section img {
	width: 100%;
	height: auto;
	aspect-ratio: 455 / 654;
}

.artist-section .showcase1 {
	transform: rotateY(30deg);
	border: solid 12px rgba(255, 255, 255, 0.16);
	border-radius: 16px;
}

.artist-section .showcase2 {
	transform: rotateY(330deg);
	border: solid 12px rgba(255, 255, 255, 0.16);
	border-radius: 16px;
}

.artist-section .showcase-holder {
	max-width: 40%;
	height: auto;
	perspective: 2500px;
}

.artist-section .showcase-text {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.artist-section .showcase-text > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.artist-section .showcase-text img {
	width: 50%;
	max-width: 300px;
	margin-right: 10%;
	height: auto;
}

#clock1 {
	margin-right: 10%;
}

#clock2 {
	margin-left: 10%;
}

.artist-section .showcase-text p {
	width: 30%;
	color: rgba(255, 255, 255, 0.7);
	font-size: 1rem;
}

.artist-section .showcase-text p span {
	font-size: 2rem;
	font-family: "Tomorrow", sans-serif;
}
.artist-section .showcase-text ul {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.artist-section .showcase-text li {
	width: 30%;
	position: relative;
	color: rgba(255, 255, 255, 0.7);
}

.artist-section .showcase-text li .eye-animation {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.16);
	border: 7px solid rgba(255, 255, 255, 0.16);
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	right: 0;
}

.showcase-text li .eye-animation img {
	width: 32px;
	height: 32px;
}

.artist-showcase .showcase-cta {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: "Tomorrow", sans-serif;
	font-weight: 400;
	letter-spacing: 0.72em;
	width: max-content;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	position: relative;
}

.showcase-cta .eye-animation {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.16);
	border: 3px solid rgba(255, 255, 255, 0.16);
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	right: 0;
}

.clock-mobile {
	display: none;
}

@media screen and (max-width: 1160px) {
	.artist-showcase .artist-section {
		flex-direction: column;
		margin-bottom: 150px;
	}
	.artist-showcase .artist-section.artist2 {
		flex-direction: column-reverse;
		margin-bottom: 0px;
	}
	.artist-section .showcase-holder {
		max-width: 60%;
		height: auto;
		perspective: 2500px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 992px) {
	.artist-showcase .showcase-cta {
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 10px;
		color: rgba(255, 255, 255, 0.7);
	}

	.artist-section .showcase-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (max-width: 767px) {
	.artist-section .showcase-text > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#clock1,
	#clock2 {
		margin: auto 0 0;
	}

	.artist-section .showcase-text img {
		width: 40%;
		max-width: 200px;
		margin-right: 0%;
		height: auto;
	}

	.artist-section .showcase-text p {
		width: 45%;
		color: rgba(255, 255, 255, 0.7);
		font-size: 1rem;
	}

	.artist-section .showcase-text p span {
		font-size: 2rem;
		font-family: "Tomorrow", sans-serif;
	}
	.artist-section .showcase-text ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	.artist-section .showcase-text li {
		width: 45%;
		position: relative;
		color: rgba(255, 255, 255, 0.7);
	}

	.artist-section .showcase-text li:last-child {
		margin-top: 30px;
	}
}

@media screen and (max-width: 600px) {
	.artist-showcase .showcase-cta {
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 5px;
	}

	.artist-section .showcase-text img {
		width: 50%;
		max-width: 200px;
		margin-right: 0%;
		height: auto;
	}

	.artist-section .showcase-holder {
		max-width: 90%;
		height: auto;
		perspective: 2500px;
		margin-bottom: 50px;
	}

	.clock-pc {
		display: none;
	}

	.clock-mobile {
		display: block;
	}
}

@media screen and (max-width: 440px) {
	.artist-showcase .showcase-cta {
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 2px;
	}

	.artist-section .showcase-holder {
		max-width: 100%;
		height: auto;
		perspective: 2500px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 380px) {
	.artist-showcase .showcase-cta {
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 340px) {
	.artist-showcase .showcase-cta {
		font-size: 1rem;
		letter-spacing: 1px;
	}
}

footer {
	margin-top: 1rem;
	background: url("./assets/artist-bg.jpg");
}

footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer ul li {
	color: #fff;
	margin: 2rem auto;
	font-size: 1rem;
	border: 3px dashed rgba(255, 255, 255, 0.3);
	padding: 8px 15px;
}

@media screen and (max-width: 440px) {
	footer ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
